@import url(./variaveis.css);
@import url(./fontes.css);

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(30px);
    border-radius: 1em;
    
}

.carousel-caption h5, p {
    color: var(--cor-primaria);
    font-size: var(--tamanho);
    text-shadow: 2px 2px black;
}

.col {
    font-size: 1.5rem;

}


.Ofertas p{
    margin-top: 3rem;
    margin-bottom: 12rem;
    font-size: 2rem;
    color: black;
    text-shadow: none;
}

.Ofertas span {
    font-weight: bold;
    font-size: 2em;
    color: green;
}

.texto_ofertas p{
    font-size: 2em;
}

.card-text {
    font-size: 20px;
    color: black;
    text-shadow: none;
}

.passagens p{
    margin-top: 1.2em;
    margin-bottom: 15rem;
    font-size: 2rem;
    color: black;
    text-shadow: none;
}

.passagens span {
    font-weight: bold;
    font-size: 2em;
    color: green;
}

.hoteis p{
    margin-top: 1.2em;
    margin-bottom: 15rem;
    text-shadow: none;
    color: black;
    font-size: 2rem;
}

.hoteis span {
    font-weight: bold;
    font-size: 2em;
    color: green;
}

.cruzeiro p{
    margin-top: 1.2em;
    margin-bottom: 15rem;
    font-size: 2rem;
    color: black;
    text-shadow: none;
}

.cruzeiro span {
    font-weight: bold;
    font-size: 2em;
    color: green;
}

.cor1 {
    color: green;
    font-size: 2em;
    font-family: 'Fonte1';
}

.cor2 {
    color: blue;
    font-size: 2em;
}

.roda_pe p {
    text-align: center;
    text-shadow: none;
    color: black;
    font-size: 1em;
}

.roda_pe span {
    font-family: 'Assinatura';
    font-size: 2em;
}

.card-body h5 {
    font-family: 'Fonte1';
    font-size: 1.5em;
    color: green;
    
}


.element:hover {
    cursor: pointer;
    border: 5px solid green;
    border-radius: 20px;
    transition: .5s;
}

.roda_pe_1 {
    background-color: var(--cor-footer);
    padding-bottom: 1em;
}

.roda_pe_1 p {
    text-align: center;
    color: black;
    text-shadow: none;
}